@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simple Logistics System</h1>
    <br />
    <p>A simple system to manipulate some items between sectors of some company.</p>
    <p>It is possible to create, edit, verify and delete Items, Sectors and Suppliers of the system, accordingly to your user level of security.</p>
    <p>To use the system, please login first.</p>
</div>
